.inline {
  display: inline;
}

.sticky {
  position: -webkit-sticky;
    position: sticky;
  top: 0;
  z-index: 4;
}

.content {
  &--scrolled {
    max-height: 200px;
    overflow-y: auto;
    &.bordered {
      border-top: 1px solid rgba(0,0,0,0.05);
      border-bottom: 1px solid rgba(0,0,0,0.05)
    }
  }
}
