.active {
  &--primary {
    &, .list__tile--active {
      border-left: 2px solid $theme.primary;
      background-color: rgba(0,0,0,.12);
      font-weight: bold;
    }
  }
}


.list__tile--highlighted, a.list__tile:hover {
  color: white;
}

.theme--dark {
  .navigation-drawer {
    .list--group__container .list.list--group {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .list__tile {
      &:hover, &:active, &:focus {
        color: $theme.error;
      }
    }
  }
}
